:root {
    --color-bg: hsl(212, 45%, 89%);
    --color-p: hsl(216, 15%, 48%);
    --color-heading: hsl(218, 44%, 22%);

    --main-font: 1rem;

    --space-1: 0.5rem;
    --space-2: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Outfit";
    font-size: var(--main-font);
    line-height: 1.5;
}

main {
    background-color: white;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-2);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    gap: 1rem;
}

img {
    width: 100%;
    border-radius: 10px;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-heading);
}

p {
    font-size: 1rem;
    color: var(--color-p);
}

h1, p {
    max-width: 60ch;
}